In [2]:
# requirements 
%pip install pandas --quiet

WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
# imports
print("Starting imports...")
import pandas as pd


print("Successfully imported!")

Starting imports...
Successfully imported!

In [15]:
# Load the dataset into a df
carsDF = pd.read_csv('vehicles.csv')

In [16]:
# view dataset 
carsDF.head()

,Type,Stock,VIN,Year,Make,Model,Body,ModelNumber,Doors,ExteriorColor,...,CityMPG,HighwayMPG,EPAClassification,Wheelbase_Code,Internet_Price,MarketClass,PassengerCapacity,ExtColorHexCode,IntColorHexCode,EngineDisplacementCubicInches
0,Used,T237890,A9FGFF8ST43CEFJ3Y,2019,Mazda,CX-9,Sport Utility,MACX-VF899A,4,Snowflake White Pearl Mica,...,20.0,26.0,Small SUV 4WD,115.3,0,4WD Sport Utility Vehicles,7,E7E8E8,NaN,152.0
1,Used,C120321,3RCKVP1GRJK1F6A8A,2024,Maserati,Levante,Sport Utility,MALE-SN743K,4,Bianco,...,16.0,22.0,Standard SUV 4WD,118.3,0,4WD Sport Utility Vehicles,5,NaN,NaN,182.0
2,Used,K666069,1W2XUCYU7BR72MDJR,2019,Volkswagen,Tiguan,Sport Utility,VOTI-UG651L,4,Platinum Gray Metallic,...,22.0,29.0,Small SUV 2WD,109.8,0,2WD Sport Utility Vehicles,7,NaN,NaN,121.0
3,Used,U309999,LDTMAMFH0Y2B3YXM1,2022,INFINITI,Q50,4dr Car,INQ5-CH685U,4,Midnight Black,...,20.0,26.0,Midsize Cars,112.2,0,4-door Mid-Size Passenger Car,5,08090B,NaN,183.0
4,Used,K436038,M4A5XPBCYH2HH2NXT,2019,Hyundai,Elantra,4dr Car,HYEL-AS987K,4,Symphony Silver,...,28.0,37.0,Midsize Cars,106.3,0,4-door Mid-Size Passenger Car,5,ADADB0,NaN,122.0

Data Cleaning and Preprocessing

In [17]:
# Normalize text values to title case for consistency
carsDF['Make'] = carsDF['Make'].str.strip().str.upper()  # Remove extra spaces and convert to uppercase
carsDF['Model'] = carsDF['Model'].str.strip().str.upper()  # Remove extra spaces and convert to uppercase

In [19]:
# Verify normalization
print(carsDF[['Make', 'Model']])

            Make       Model
0          MAZDA        CX-9
1       MASERATI     LEVANTE
2     VOLKSWAGEN      TIGUAN
3       INFINITI         Q50
4        HYUNDAI     ELANTRA
...          ...         ...
2225      TOYOTA     COROLLA
2226       DODGE     DURANGO
2227  ALFA ROMEO      GIULIA
2228      NISSAN      SENTRA
2229      TOYOTA  TACOMA 2WD

[2230 rows x 2 columns]

In [20]:
# Data Type Correction
# Convert numerical columns
carsDF['Year'] = carsDF['Year'].astype(int)
carsDF['SellingPrice'] = carsDF['SellingPrice'].astype(float)
carsDF['Doors'] = carsDF['Doors'].astype(int)

In [21]:
carsDF['PriceRange'] = pd.cut(carsDF['SellingPrice'], 
                              bins=[0, 10000, 20000, 30000, 50000, 100000],
                              labels=['Under 10K', '10K-20K', '20K-30K', '30K-50K', 'Above 50K'])